<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="sdkDir" value="C:\Program Files\Microsoft Visual Studio 8\SDK\v2.0\bin"/>
    <add key="sdkDirUnderVista" value="C:\Program Files (x86)\Microsoft.NET\SDK\v2.0\Bin"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
